.flip-container {
  perspective: 900px;
  width: 100%;
  height: 100%;
}
.flip-card {
  transition: transform 2s cubic-bezier(0.23, 1, 0.32, 1);
  transform-style: preserve-3d;
  position: relative;
  width: 100%;
  height: 100%;
}
.flip-container:hover .flip-card,
.flip-card.flipped {
  transform: rotateY(180deg) rotateZ(180deg);
}
.flip-front, .flip-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 1rem;
  overflow: hidden;
}
.flip-back {
  transform: rotateY(180deg) rotateZ(180deg);
  z-index: 2;
}